code{
	background-color: #303030;
	font-family: 'Consolas', monospace;
	display: inline-block;
	margin-block: 1.5px;
	margin-inline: 2px;
	padding-block: 1px;
	padding-inline: 4px;
	line-height: 1.35;
	border-radius: 4px;
}

.output {
	background-color: #202020;
	border-radius: 0;
}

.bash::before{
	content: "$ ";
}

.cmd::before{
	content: "> ";
}

.root::before{
	content: "# ";
}
