html{
	font-family: 'ＭＳ ゴシック', monospace;
	tab-size: 4;
}

/*
html *{
	box-sizing: border-box;
}
*/

body{
	font-size: 14px;
	background-color: #000;
	color: #C0C0C0;
	line-height: 1.6;
}

body *{
	margin-block: 8px;
}

a{
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	padding-right: 0.25em;
}
a:link{
	color: #6CF;
}
a:hover{
	text-decoration: underline;
	transform: translateX(0.25em);
}
a:visited{
	color: #C6F;
}

a, p, pre{
	margin: 0 0 0 0;
}

p, pre{
	padding-left: 30px;
}

p > pre{
	padding: 0 0 0 0;
}

pre{
	font-family: 'ＭＳ ゴシック', monospace;
	line-height: 1;
	white-space: pre-wrap;
}

h1{
	font-family: 'メイリオ', sans-serif;
	font-size: 32px;
	padding-left: 24px;
}
h2{
	padding-top: 12px;
	padding-left: 6px;
}
h3{
	padding-left: 12px;
}
h4{
	padding-left: 18px;
}

table{
	border-collapse: collapse;
	margin-left: 16px;
	text-align: center;
}

td{
	border: 1px solid;
	border-color: #C0C0C0;
	padding: 6px;
}

th{
	background-color: #C0C0C0;
	color: #000;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #000;
}
.th_first{
	border-left-color: #C0C0C0;
}
.th_last{
	border-right-color: #C0C0C0;
}

li{
	margin-left: 8px;
}

details, summary{
	margin-inline: 0;
	margin-bottom: 0;
}

details{
	margin-top: 16px;
}

summary{
	cursor: pointer;
}
details[open] > summary{
	cursor: default;
}

.red_wavy{
	text-decoration: red wavy underline;
	text-decoration-skip-ink: none;
}

div{
	margin-top: 16px;
	margin-bottom: 0;
	margin-inline: 0;
}

b{
	font-weight: bold;
}
