.bottom-sheet_btst__vvJSn {
  z-index: 1200;
  background-color: var(--background);
  border-style: solid;
  border-width: 1px 1px 0;
  border-color: var(--semantic-surface-border-1);
  --btst-top-radius: 15px;
  border-top-left-radius: var(--btst-top-radius);
  border-top-right-radius: var(--btst-top-radius);
  width: 100vw;
  height: 0;
  transition: all 0.3s;
  position: fixed;
  bottom: 0;
  overflow: hidden;
}
.bottom-sheet_btst__vvJSn.bottom-sheet_none__8l3MC {
  height: 0;
}
.bottom-sheet_btst__vvJSn.bottom-sheet_small__tCiqY {
  height: 250px;
}
.bottom-sheet_btst__vvJSn.bottom-sheet_open____6QT {
  height: 400px;
}
.bottom-sheet_btst-header__DMicW {
  --btst-hd-padding: 8px;
  flex-direction: row;
  align-items: center;
  line-height: 0;
  display: flex;
}
.bottom-sheet_btst-fold__LoRPI {
  padding-top: var(--btst-hd-padding);
  padding-left: var(--btst-hd-padding);
  color: var(--semantic-color-tertiary);
  flex: 1;
}
.bottom-sheet_btst-close__qCaQC {
  padding-top: var(--btst-hd-padding);
  padding-right: var(--btst-hd-padding);
  color: var(--semantic-color-tertiary);
  border-width: 4px;
  border-color: var(--semantic-color-tertiary);
  border-radius: calc(var(--btst-top-radius) - var(--btst-hd-padding));
}
.bottom-sheet_btst-items__PU9H5 {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.bottom-sheet_btst-item__J53Q7 {
  text-align: center;
  color: var(--semantic-color-primary);
  border-left: solid 1px var(--semantic-color-tertiary);
  border-bottom: solid 1px var(--semantic-color-tertiary);
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  display: flex;
}
.bottom-sheet_btst-item-active__uivuM {
  border-bottom-width: 0;
}
.bottom-sheet_btst-item__J53Q7:first-child {
  border-left-width: 0;
}
