.program-input_programInput__PmJgg {
  margin-right: var(--semantic-space-0-5);
  margin-left: var(--semantic-space-0-5);
  width: 98%;
}
.program-view_list__y3I_5 {
  flex-direction: column;
  place-content: center;
  padding: 1rem;
  display: flex;
}
.program-view_list__y3I_5 a {
  color: var(--semantic-text-dark);
  text-decoration: none;
}
.program-view_list__y3I_5 ol {
  list-style-type: none;
}
.program-view_card__Nth7O {
  border: 2px solid var(--semantic-surface-border-1);
  border-radius: 6px;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}
.program-view_card__Nth7O h2 {
  border-bottom: none;
}
.program-view_imageInCard__9H9Qg {
  width: 7rem;
  height: 7rem;
  display: inline-block;
  position: relative;
}
.program-view_cardTitle__wqeXx {
  grid-template-columns: 7rem 1fr;
  display: grid;
}
.program-view_cardDescription__RuSd9 {
  flex-direction: column;
  max-width: 90%;
  display: grid;
}
.program-view_cardPRText__7dFrF {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.program-view_cardTags__Fem1N {
  flex-direction: row;
  gap: 0.75em;
  display: flex;
}
.program-view_cardPlaceAndType__VtCgv {
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  margin: 0.25em;
  display: flex;
}
.program-view_cardTag__ifstn {
  color: var(--semantic-hashtag-default);
}
.program-view_cardProgramType__P8qP1 {
  padding: 0 0.25em;
}
.tags_tag__WA_DF {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.programs_programSearchLine__M6g_O {
  flex-flow: wrap;
  gap: 1rem;
  padding: 1em;
  display: flex;
}
.programs_programSearchLineItem__RcYQe {
  flex-direction: row;
  display: flex;
}
.programs_programSearchLinePItem___kjmY {
  align-items: center;
  display: flex;
}
.programs_programSearchLinePItem___kjmY p {
  padding-left: 0;
}
.programs_programSelectPullDown__K42fx {
  background: var(--semantic-surface-1);
  border: none;
  border-radius: 0.35em;
  margin: 0.15em;
  padding: 0.35em;
  font-size: 1rem;
}
.programs_programSelectPullDown__K42fx[data-focus-visible] {
  outline: 3px solid var(--semantic-color-accent);
  outline-offset: -1px;
}
.programs_programSelectPullDownItems__sJifr {
  width: unset;
  max-height: inherit;
  min-height: unset;
  z-index: 1;
  white-space: nowrap;
  background: rgba(238, 238, 238, 0.9);
  border: 1px solid #000;
  border-radius: 4px;
  margin: 0.15em;
  padding: 0.75em 0.3rem 0.3rem 0.75em;
  display: block;
  position: absolute;
}
.programs_programSelectPullDownItem__vcym5 {
  border-radius: 3px;
  margin: 0.5rem 0.4rem 0.5rem 0;
  padding: 0.3rem;
}
.programs_programSelectPullDownItem__vcym5[data-focus-visible] {
  outline: 3px solid var(--semantic-color-accent);
}
.programs_programSelectPullDownItem__vcym5[data-selected] {
  background: var(--semantic-color-tertiary);
  color: var(--semantic-text-white);
  font-weight: 600;
}
.programs_programSelectPullDownItem__vcym5[data-pressed] {
  background: var(--semantic-color-secondly);
}
.programs_programSearchResetButtonContent__PdoVY {
  flex-direction: row;
  height: 100%;
  display: flex;
}
.programs_programSearchResetButtonContent__PdoVY svg {
  margin: auto;
}
.programs_programSearchResetButtonContentDiv__rSmFq {
  align-items: center;
  display: flex;
}
.programs_programSearchResetButtonContentDiv__rSmFq p {
  padding-left: 0;
}
.programs_programSelectResetButton__P2s2k {
  color: var(--semantic-color-tertiary);
  background: 0 0;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}
.programs_programSelectResetButton__P2s2k svg {
  vertical-align: sub;
  margin-right: 0.15em;
}
.search-modal_queryProperty__Vx_yI {
  margin: var(--semantic-space-medium);
}
.search-modal_popupOpenButton__p8vJb {
  margin: 0;
}
.search-modal_popupScroll__zX1rL {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
.search-modal_popupContent__AiZuv {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
}
@media (min-width: 560px) {
  .search-modal_popupContent__AiZuv {
    grid-template-columns: 1fr 1fr;
  }
  .search-modal_popupSelect__RfY8L {
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@media (max-width: 559px) {
  .search-modal_popupContent__AiZuv {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    display: grid;
  }
}
.search-modal_popupSelect__RfY8L {
  max-width: calc(100% - calc(var(--semantic-space-large) * 2));
  overflow: auto;
}
.search-modal_popupClose__yHWVV {
  flex: 1;
  justify-content: center;
  align-items: last baseline;
  height: 100%;
  display: flex;
}
