:root {
  --token-color-black-default: #3d3d46;
  --token-color-black-hightlight: #1a1a1a;
  --token-color-black-truely: #000;
  --token-color-black-shadow: rgba(0, 0, 0, 0.25);
  --token-color-red-500: #f35359;
  --token-color-red-600: #d61818;
  --token-color-red-700: #ad0000;
  --token-color-blue-300: #3abedc;
  --token-color-blue-400: #248af0;
  --token-color-blue-500: #06c;
  --token-color-blue-600: #0046ac;
  --token-color-blue-700: #002bb2;
  --token-color-white-default: #fcfcff;
  --token-color-gray-text: #575757;
  --token-color-gray-default: #d9d9d9;
  --token-color-green-400: #4ffe78;
  --token-color-green-500: #1ccb45;
  --token-color-green-600: #00ab25;
  --token-color-yellow-400: #ff3;
  --token-color-yellow-450: #f6f11f;
  --token-color-yellow-500: #f2e700;
  --token-color-purple-400: #e36bff;
  --token-color-purple-500: #ba42ff;
  --token-color-purple-600: #9018d6;
  --token-color-violet-375: #6168d6;
  --token-color-violet-450: #565ed5;
  --token-color-violet-525: #4a53d3;
  --token-color-orange-default: #ff8400;
  --token-color-dark-blue-800: #415f71;
  --token-color-dark-blue-900: #213a54;
  --token-color-dark-blue-1000: #1b284c;
  --token-color-light-blue-100: #e5f2ff;
  --token-color-light-blue-200: #cce6ff;
  --token-color-light-blue-400: #70c8ff;
  --token-color-light-blue-500: #64affa;
  --token-color-light-blue-600: #5585e6;
  --semantic-color-primary: #06c;
  --semantic-color-accent: #f35359;
  --semantic-color-secondly: #64affa;
  --semantic-color-tertiary: #213a54;
  --semantic-callout-border-default: #ff8400;
  --semantic-text-dark: #3d3d46;
  --semantic-text-white: #fcfcff;
  --semantic-text-supple: #575757;
  --semantic-hashtag-default: #06c;
  --semantic-hashtag-active: #248af0;
  --semantic-hashtag-text: #fcfcff;
  --semantic-link-default: #06c;
  --semantic-link-active: #002bb2;
  --semantic-link-focused: #f6f11f;
  --semantic-shadow-default: rgba(0, 0, 0, 0.25);
  --semantic-font-size-m: 1rem;
  --semantic-font-size-l: 1.2rem;
  --semantic-font-size-xl: 1.6rem;
  --semantic-font-size-xxl: 2rem;
  --semantic-font-size-s: 0.88rem;
  --semantic-font-size-xs: 0.75rem;
  --semantic-font-size-xxs: 0.66rem;
  --semantic-font-size-content: 1rem;
  --semantic-font-size-heading2: 1.6rem;
  --semantic-font-size-heading: 2rem;
  --semantic-font-weight-bold: 700;
  --semantic-font-weight-thin: 100;
  --semantic-font-weight-regular: 400;
  --semantic-font-weight-extra-bold: 800;
  --semantic-radius-small: 3px;
  --semantic-radius-medium: 5px;
  --semantic-radius-large: 6px;
  --semantic-radius-circle: 50px;
  --semantic-space-1: 16px;
  --semantic-space-2: 32px;
  --semantic-space-3: 48px;
  --semantic-space-4: 64px;
  --semantic-space-1-5: 24px;
  --semantic-space-1-25: 20px;
  --semantic-space-1-75: 28px;
  --semantic-space-0-5: 8px;
  --semantic-space-0-75: 12px;
  --semantic-space-medium: 16px;
  --semantic-space-small: 8px;
  --semantic-space-large: 24px;
  --semantic-space-extreme-large: 100px;
  --semantic-menu-selected: #213a54;
  --semantic-background-white: #fcfcff;
  --semantic-background-dark: #213a54;
  --semantic-button-primary-border: #06c;
  --semantic-button-primary-text: #248af0;
  --semantic-button-default-border: #3d3d46;
  --semantic-button-default-text: #3d3d46;
  --semantic-button-dangor-fill: #f35359;
  --semantic-button-dangor-text: #fcfcff;
  --semantic-button-disable-border: #3d3d46;
  --semantic-button-disable-fill: #d9d9d9;
  --semantic-surface-1: #d9d9d9;
  --semantic-surface-2: #3d3d46;
  --semantic-surface-border-1: #213a54;
  --semantic-surface-border-2: #213a54;
  --semantic-input-border: #213a54;
  --semantic-input-placeholder: #575757;
  --semantic-tag-1: #f35359;
  --semantic-tag-2: #248af0;
  --semantic-tag-3: #00ab25;
  --semantic-tag-4: #ba42ff;
  --semantic-tag-5: #ff3;
  --semantic-tag-6: #4ffe78;
  --semantic-divider-default: #d9d9d9;
  --semantic-slide-arrow: #06c;
  --semantic-slide-dark-background: #3d3d46;
  --semantic-slide-dark-card: #d9d9d9;
  --semantic-slide-dark-content: #3d3d46;
  --semantic-slide-background: #cce6ff;
  --semantic-header-background: #1b284c;
  --semantic-header-content: #70c8ff;
  --semantic-timetable-odd-background: #cce6ff;
  --semantic-timetable-odd-strip: #5585e6;
  --semantic-timetable-odd-heading: #06c;
  --semantic-timetable-even-background: #e5f2ff;
  --semantic-timetable-even-strip: #64affa;
  --semantic-timetable-even-heading: #06c;
  --semantic-timetable-per-time: #213a54;
  --semantic-timetable-border: #3d3d46;
}
